<div class="container-fluid fixed-bottom footer">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <p class="mb-0 py-2">&copy;2021 all rights reserved</p>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
</div>
</body>

</html>