{{> header}}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="/images/homepage_img.png" alt="home" class="img-fluid">
        </div>
        <div class="col-6 text-center pt-5">
            <h1>Where the world writes article</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, explicabo? Placeat numquam est autem
                iusto, tempora nemo perspiciatis aliquid, ratione officiis odit rerum illum voluptatem nisi
                aspernatur repellendus vel fugiat pariatur quidem iste. Veniam, excepturi eligendi facilis quas est
                iste, tenetur itaque deserunt possimus quia voluptatum! Tempore eligendi laudantium repudiandae!</p>
            <a href="/login" class="btn btn-primary">Login</a> <span>OR</span> <a href="/register"
                class="btn btn-success">Register</a>
        </div>
    </div>
</div>
{{> footer}}